@import '../../styles/variables';
@import '../../styles/mixins';

.gobackButton {
  margin-top: 3rem;
}

.title {
  margin-top: 3rem;
  font-size: 3rem;
}

.root {
  margin-top: 3rem;
  display: flex;

  .leftContainer {
    width: 70%;

    .descriptionCard {
      border-radius: $border-radius;
      box-shadow: $box-shadow-light;
      padding: 1.5rem;
      margin-top: 1.5rem;

      h2 {
        font-size: 2rem;
      }

      p {
        margin-top: 1.5rem;
        font-weight: 600;

        span {
          font-weight: 500;
          margin-left: 0.5rem;
        }
      }

      .items {
        padding: 1.5rem 0;
        display: flex;
        align-items: center;
        justify-content: start;
        border-top: 1px solid $very-light-gray;

        > a:first-of-type {
          margin-left: 1.5rem;
          margin-right: 1rem;
          text-decoration: none;
          @include transition(all);

          &:hover {
            color: $dark-red;
          }
        }

        > p {
          margin-top: 0;
          margin-left: auto;
          color: $dark-gray;
        }
      }

      .items:nth-child(2) {
        border-top: none;
      }

      .paidDeliveredBanner {
        max-width: fit-content;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        font-size: 1.2rem;

        .checkIcon {
          fill: green;
          font-size: 1.5rem;
          transform: translateY(-0.05rem);
          margin-right: 0.5rem;
        }

        .warningIcon {
          fill: orange;
          font-size: 1.5rem;
          transform: translateY(-0.05rem);
          margin-right: 0.5rem;
        }
      }
    }

    .descriptionCard:first-child {
      margin-top: 0;
    }
  }

  .rightContainer {
    width: 28%;
    margin-left: 1.2rem;

    .summaryCard {
      border-radius: $border-radius;
      box-shadow: $box-shadow-light;
      padding: 1.5rem;

      > div {
        display: flex;
        padding: 1rem 0;
        border-top: 1px solid $very-light-gray;

        p {
          width: 50%;
        }
      }

      > div:nth-child(2) {
        border-top: none;
        margin-top: 1rem;
      }

      .placeOrderButton {
        margin-top: 1rem;
      }
    }
  }
}

@media (max-width: $lg-break-point) {
  .root {
    display: block;

    .leftContainer {
      width: 100%;
    }

    .rightContainer {
      width: 100%;
      margin-top: 1.5rem;
      margin-left: 0;
    }
  }
}
