@import '../../../styles/mixins';
@import '../../../styles/variables';

.root {
  position: fixed;
  top: 2.5rem;
  right: 0;
  z-index: 1000;
  transform: translateX(100%);

  .container {
    border-radius: $border-radius;
    box-shadow: $box-shadow-light;
    background-color: white;
    min-width: 280px;
    max-width: 420px;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    align-items: center;

    .warningIcon,
    .checkIcon {
      font-size: 1.5rem;
      flex-shrink: 0;
    }

    .warningIcon {
      fill: $red;
    }

    .checkIcon {
      fill: green;
    }

    .text {
      margin-left: 1rem;
      margin-right: 1.5rem;
    }

    .closeButton {
      position: absolute;
      top: 0.3rem;
      right: 0.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      border-radius: 50%;
      padding: 0.2rem;
      cursor: pointer;
      font-size: 1rem;

      .closeIcon {
        fill: $light-gray;
        @include transition(fill);
      }

      &:hover .closeIcon {
        fill: $dark-red;
      }
    }
  }
}

.root.slideIn {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.root.slideOut {
  animation-name: slideOut;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes slideIn {
  25% {
    transform: translateX(-75px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(-10%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(-75px);
  }
  100% {
    transform: translateX(100%);
  }
}
