@import '../../styles/variables';

.root {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 313px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    .productName {
        margin-top: 2rem;
        width: 100%;
    }

    .price {
        text-align: start;
        width: 100%;
        margin-top: 2rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: $light-gray;
    }
}

@media(max-width: $lg-break-point) {
    .root {
        width: 440px;
    }
}

@media(max-width: $md-break-point) {
    .root {
        margin: 0 auto;
    }
}