@mixin transition($tproperty) {
  transition-duration: 0.18s;
  transition-timing-function: ease-in-out;
  transition-property: ($tproperty);
}

@mixin buttonStyles($variant-color: '') {
  $background-color: $red;
  $hover-color: $dark-red;

  @if $variant-color == 'black' {
    $background-color: $black;
    $hover-color: $dark-gray;
  }

  background-color: $background-color;
  color: white;
  border-radius: $border-radius;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  border: none;
  font-size: 1rem;
  @include transition(background-color);
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}
