// palette
$black: #181818;
$red: #ef473e;
$dark-red: #bf3831;
$brown: #743f37;
$dark-gray: #403a39;
$light-gray: #868885;
$light-green: #829481;
$dark-green: #2e413e;
$medium-blue: #446a80;
$dark-blue: #23446d;
$very-light-gray: rgb(187, 187, 187);
$super-very-light-gray: rgb(231, 231, 231);

// breakpoints
$xxl-break-point: 1400px;
$xl-break-point: 1280px;
$lg-break-point: 990px;
$md-break-point: 840px;
$sm-break-point: 650px;
$xs-break-point: 420px;
$xxs-break-point: 340px;

// other
$box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);
$box-shadow-light: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
$border-radius: 0.3rem;
$navbar-height: 5rem;
$ribbon-height: 4rem;
