@import '../../../styles/mixins';
@import '../../../styles/variables';

.root {
  @include buttonStyles();
  position: relative;

  > span {
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.root.loading {
  &:disabled {
    color: transparent;
  }
}

.black {
  @include buttonStyles('black');
}

.large {
  width: 100%;
}
