@import '../../styles/variables';
@import '../../styles/mixins';

.root {
  margin-top: 0;
  background-color: $black;
  color: white;
  height: $ribbon-height;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  z-index: 899;
  @include transition(margin-top);
}

.active {
  margin-top: $navbar-height;
}
