@import '../../styles/variables';
@import '../../styles/mixins';

.root {
  background-color: $black;
  color: white;
  height: $ribbon-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  z-index: 899;
  transform: translateY(-50%);
  @include transition(transform);

  .signInButtonContainer {
    display: flex;
    height: $ribbon-height;
    align-items: center;
  }

  .searchContainer {
    height: $ribbon-height;
    display: flex;
    align-items: center;
  }
}

.active {
  transform: translateY($navbar-height);
}

@media (max-width: $sm-break-point) {
  .root {
    display: block;
    height: calc($ribbon-height * 2);
  }
}

@media (max-width: $md-break-point) {
  .root {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
