@import '../../styles/variables';
@import '../../styles/mixins';

.root {
  display: flex;
  justify-content: space-between;

  .userProfile {
    width: 29%;

    > h1 {
      margin-top: 3rem;
      font-size: 3rem;
    }

    form {
      width: 100%;
      margin-top: 3rem;
    }
  }

  .table {
    width: 69%;
  }
}
