@import '../../styles/variables';
@import '../../styles/mixins';

.root {
  display: flex;
  justify-content: space-between;

  .userProfile {
    width: 29%;

    form {
      width: 100%;
    }
  }

  .table {
    width: 69%;
  }
}
