@import '../../styles/mixins';
@import '../../styles/variables';

.timesIcon {
  fill: $red;
  font-size: 1.3rem;
}

.checkIcon {
  fill: green;
  font-size: 1.3rem;
}

.iconButtonsContainer {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  justify-content: center;

  .editIconButton,
  .trashIconButton {
    border: none;
    padding: 0.4rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
  }

  .editIconButton {
    &:hover svg {
      fill: $dark-gray;
    }

    svg {
      fill: $black;
      @include transition(fill);
    }
  }

  .trashIconButton {
    margin-left: 1rem;
    background-color: $red;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    position: relative;
    width: 32px;
    height: 32px;
    padding: 0;
    @include transition(background-color);

    &:hover {
      background-color: $dark-red;
    }

    &:disabled {
      background-color: $super-very-light-gray;
    }

    > div {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      svg {
        fill: white;
      }
    }
  }
}
