@import '../../styles/variables';
@import '../../styles/mixins';

.navbar {
  height: $navbar-height;
  width: 100%;
  background-color: $black;
  background-image: url('../../assets/img/dark-circles.png');
  display: flex;
  align-items: center;
  box-shadow: $box-shadow;
  z-index: 900;
  position: fixed;
  top: 0;

  .container {
    width: $xxl-break-point;
    max-width: $xxl-break-point;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    .iconContainer {
      position: relative;
      max-width: fit-content;
    }

    > div:nth-child(2) {
      display: flex;
      align-items: center;

      .iconButton {
        display: flex;
        align-items: center;
        margin-right: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        position: relative;

        &:hover > svg {
          fill: $red;
        }

        .cartIcon {
          margin-left: 1rem;
          fill: $light-gray;
          font-size: 1.8rem;
          @include transition(fill);
        }

        .cartItems {
          background-color: $red;
          border-radius: 50%;
          position: absolute;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          top: -8px;
          right: -10px;
          font-size: 12px;
        }
      }

      .sigInButton {
        height: 35px;
        background: none;
        border: none;
        font-size: 1.2rem;
        color: $light-gray;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-decoration: none;
        @include transition(color);

        &:hover {
          color: $red;
        }

        > span {
          display: flex;
          align-items: center;

          .chevronIcon {
            fill: $light-gray;
            font-size: 0.8rem;
            margin-left: 0.8rem;
            transform: translateY(0.14rem);
            @include transition(all);
          }

          .chevronIcon.rotate {
            transform: rotate(-180deg);
            fill: $dark-red;
          }
        }
      }

      .drawerContainer {
        position: relative;
        .drawer {
          background-color: white;
          border-radius: $border-radius;
          padding: 0.5rem 0;
          position: absolute;
          box-shadow: $box-shadow;
          right: 0;

          > p:first-of-type {
            font-weight: 600;
            padding: 0.5rem 2rem;
            text-align: center;
            margin-top: 1rem;
            font-size: 1.2rem;
          }

          li {
            list-style: none;

            button {
              background: none;
              border: none;
              font-size: 1rem;
              padding: 0 2rem;
              height: 35px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              cursor: pointer;

              &:hover {
                background-color: $super-very-light-gray;
              }

              &:hover > span {
                &::after {
                  background-color: $super-very-light-gray;
                }
              }
            }
          }

          .loader {
            margin-left: 0.5rem;
            &::after {
              background: white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $sm-break-point) {
  .navbar {
    .container {
      .iconContainer {
        > img {
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: $xs-break-point) {
  .navbar {
    .container {
      .iconContainer {
        > img {
          width: 160px;
        }
      }
    }
  }
}
