@import '../../styles/variables';
@import '../../styles/mixins';

.navbar {
  height: $navbar-height;
  width: 100%;
  background-color: $black;
  background-image: url('../../assets/img/dark-circles.png');
  display: flex;
  align-items: center;
  box-shadow: $box-shadow;
  z-index: 900;
  position: fixed;
  top: 0;

  .container {
    width: $xxl-break-point;
    max-width: $xxl-break-point;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .iconContainer {
      position: relative;
      max-width: fit-content;
    }

    > div:nth-child(2) {
      display: flex;
      align-items: center;

      .hamburguerMenu {
        font-size: 2rem;
        border: none;
        background: none;
        border-radius: 50%;
        padding: 0.5rem;
        cursor: pointer;

        &:hover > svg {
          fill: $dark-red;
        }

        > svg {
          fill: $light-gray;
          display: block;
          @include transition(fill);
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .navbar {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

@media (max-width: $md-break-point) {
  .navbar {
    .container {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

@media (max-width: $sm-break-point) {
  .navbar {
    .container {
      .iconContainer {
        > img {
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: $xs-break-point) {
  .navbar {
    .container {
      .iconContainer {
        > img {
          width: 160px;
        }
      }
    }
  }
}
