@import '../../styles/variables';
@import '../../styles/mixins';

.navbar {
  height: 80px;
  width: 100%;
  background-color: $black;
  background-image: url("../../assets/img/dark-circles.png");
  display: flex;
  align-items: center;
  box-shadow: $box-shadow;

  .container {
    width: $xl-break-point;
    max-width: $xl-break-point;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .iconContainer {
      position: relative;
      max-width: fit-content;
    }

    >div:nth-child(2) {
      display: flex;
      align-items: center;

      .iconButton {
        border-left: 2px solid $black;
        display: flex;
        align-items: center;
        margin-right: 3rem;
        background: none;
        border: none;
        cursor: pointer;

        &:hover>svg {
          fill: $red;
        }

        .cartIcon {
          margin-left: 1rem;
          fill: $light-gray;
          font-size: 1.8rem;
          @include transition(fill);
        }
      }

      .sigInButton {
        height: 35px;
        background: none;
        border: none;
        font-size: 1.2rem;
        color: $light-gray;
        cursor: pointer;
        @include transition(color);

        &:hover {
          color: $red;
        }
      }
    }
  }
}

@media (max-width: $xl-break-point) {
  .navbar {
    .container {
      .iconContainer {
        margin-left: 1rem;
      }

      >div:nth-child(2) {
        .sigInButton {
          margin-right: 1rem;
        }
      }
    }
  }
}