@import '../../../styles/variables';
@import '../../../styles/mixins';

.root {
  width: 100%;

  .labelGroup {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      display: block;
      font-size: 0.9rem;
      color: $black;
      font-weight: 500;
      margin-bottom: 8px;
      margin-right: 1.5rem;
    }

    span {
      margin-bottom: 8px;
      font-size: 0.9rem;
      font-weight: 700;
      margin-left: auto;
      color: $dark-red;
    }
  }

  .inputContainer {
    position: relative;
    $input-height: 47px;

    input {
      width: 100%;
      height: $input-height;
      border: none;
      border: 1px solid $very-light-gray;
      border-radius: $border-radius;
      padding: 0 0.9rem;
      outline: none;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 20px;
    }

    input:focus {
      border-color: $black;
    }

    input.errorClassName {
      border-color: $dark-red;
    }

    ::placeholder {
      color: $very-light-gray;
    }

    .eye {
      $size: 1.5rem;
      position: absolute;
      right: 0.5rem;
      font-size: $size;
      top: calc(($input-height / 2) - ($size / 2));
      border: none;
      background: none;
      display: flex;
      align-items: center;
      cursor: pointer;

      > svg {
        fill: $light-gray;
      }
    }
  }
}
