@import '../../styles/variables';
@import '../../styles/mixins';

$aspect-ratio: 0.7973538011695906;

.root {
  position: relative;
  width: $xxl-break-point;
  margin: 3rem auto 0 auto;
  height: calc(($xxl-break-point / 2) * $aspect-ratio);

  .prevButton,
  .nextButton {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    top: calc(50% - 20px);
    z-index: 2;

    &:hover > svg {
      fill: $dark-red;
    }

    > svg {
      fill: $red;
      @include transition(fill);
    }
  }

  .prevButton {
    left: 1rem;
  }

  .nextButton {
    right: 1rem;
  }

  .bullets {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;

    > div {
      width: 10px;
      height: 10px;
      margin: 0 0.3rem;
      border: none;
      border-radius: 50%;
      background-color: $super-very-light-gray;
      @include transition(background-color);
    }

    .active {
      background-color: $red;
    }
  }

  .slide {
    display: flex;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: ease-in-out 0.6s opacity;

    > img {
      display: block;
      border: 1px solid rgb(187, 187, 187);
      border-right: none;
      border-radius: $border-radius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .description {
      background-color: $black;
      width: 50%;
      display: flex;
      align-items: center;
      padding: 1.5rem;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;

      > div:first-child {
        > h2 {
          color: white;
        }

        > span {
          display: block;
          margin-top: 2rem;
          color: $light-green;
          font-size: 3rem;
          font-weight: 700;
        }
      }
    }
  }

  .active {
    opacity: 1;
    z-index: 1;
  }
}

@media (max-width: 1440px) {
  .root {
    $width: calc(100vw - 2rem);
    width: $width;
    height: calc(($width / 2) * $aspect-ratio);
    margin-left: auto;
    margin-right: auto;
    .slide {
      > img {
        width: 50%;
        height: auto;
      }
    }
  }
}

@media (max-width: $md-break-point) {
  .root {
    $width: calc(100vw - 1rem);
    width: $width;
    height: calc(($width / 2) * $aspect-ratio);
    .slide {
      .description {
        > div:first-child {
          > h2 {
            font-size: 20px;
          }

          > span {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .root {
    height: calc((100vw - 1rem) * $aspect-ratio);
    .slide {
      > img {
        width: 100%;
        border-right: 1px solid rgb(187, 187, 187);
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      .description {
        display: none;
      }
    }
  }
}
