@import '../../styles/variables';
@import '../../styles/mixins';

.formContainer {
  margin-top: 0.8rem;

  .formCard {
    position: relative;
    border-radius: $border-radius;
    display: flex;
    padding: 1.5rem;
    box-shadow: $box-shadow-light;
    @include transition(all);

    .leftContainer {
      .input {
        width: 100%;
      }

      .shortInputs {
        display: flex;
        justify-content: space-between;

        .shortInput {
          width: 48%;
        }
      }
    }

    .rightContainer {
      display: flex;
      margin-left: 2rem;
      align-items: center;
    }
  }

  .buttons {
    margin-top: 2rem;
    display: flex;

    > a:first-of-type {
      text-decoration: none;
      @include buttonStyles('black');
      display: flex;
      width: 48%;
      justify-content: center;
    }

    > button:nth-child(2) {
      margin-left: 1rem;
      text-decoration: none;
      width: 48%;
    }
  }
}

@media (max-width: 750px) {
  .formContainer {
    .formCard {
      display: block;

      .rightContainer {
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
      }
    }
  }
}
