@import '../../styles/variables';
@import '../../styles/mixins';

.root {
  .container {
    margin-right: 2rem;
    height: 2.5rem;
    border-radius: $border-radius;
    border: none;
    background-color: $black;
    box-shadow: inset 6px 6px 12px 0px black;
    display: flex;
    align-items: center;
    padding: 0.25rem;

    input {
      background: none;
      border: none;
      color: white;
      outline: none;
      font-size: 1rem;
      padding: 0 1rem;
    }

    .searchButton {
      display: flex;
      height: 100%;
      align-items: center;

      &:focus-visible {
        outline: 1px solid white;
      }

      .searchIcon {
        margin-right: 0.5rem;
        fill: white;
        font-size: 1.5rem;
      }

      .text {
        position: static;
        color: white;
      }
    }
  }
}

// @media (max-width: $lg-break-point) {
//   .root {
//     margin-top: 1.5rem;
//     padding: 0;
//     width: 380px;
//     @include transition(all);

//     > div:first-of-type {
//       background-color: white;
//       box-shadow: inset 6px 6px 12px 0px rgba(0, 0, 0, 0.15);
//       margin-right: 0;
//       input {
//         width: 100%;
//         color: $black;
//       }
//     }
//   }
// }

// @media (max-width: $xs-break-point) {
//   .root {
//     width: 100%;
//   }
// }

// @media (max-width: $xxs-break-point) {
//   .root {
//     .container {
//       .searchButton {
//         padding-left: 0.5rem;
//         padding-right: 0.5rem;

//         .text {
//           display: none;
//         }
//         .searchIcon {
//           margin-right: 0;
//         }
//       }
//     }
//   }
// }
