@import '../../styles/variables';
@import '../../styles/mixins';

.root {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  align-items: center;

  a {
    text-decoration: none;
  }

  .link,
  p {
    color: $dark-gray;
  }

  .icon {
    fill: $light-gray;
    margin: 0 1rem;
    @include transition(fill);
  }

  .iconActive {
    fill: $dark-red;
  }

  .active {
    color: $dark-red;
    @include transition(color);

    &:hover {
      text-decoration: underline;
    }

    &:hover ~ .iconActive {
      fill: $dark-red;
    }
  }

  .pActive {
    color: $red;
  }
}

@media (max-width: $xxs-break-point) {
  .root {
    .icon {
      margin: 0 0.5rem;
    }
  }
}
