@import '../../styles/variables';
@import '../../styles/mixins';

.root {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  align-items: center;

  a {
    text-decoration: none;
  }

  .link,
  p {
    color: $very-light-gray;
  }

  .icon {
    fill: $very-light-gray;
    margin: 0 1rem;
    @include transition(fill);
  }

  .iconActive {
    fill: $red;
  }

  .active {
    color: $red;
    @include transition(color);

    &:hover {
      color: $dark-red;
    }

    &:hover ~ .iconActive {
      fill: $dark-red;
    }
  }

  .pActive {
    color: $red;
  }
}
