@import '../../styles/variables';
@import '../../styles/mixins';

.title {
  margin-top: 3rem;
  font-size: 3rem;
}

.titleMargin {
  margin-top: calc(3rem + $navbar-height);
}

.container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

@media (max-width: $xl-break-point) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: $lg-break-point) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $md-break-point) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
