@import '../../styles/mixins';
@import '../../styles/variables';

.root {
  .gobackButton {
    margin-top: 3rem;
  }

  .formContainer {
    width: 480px;
    margin: 3rem auto 0 auto;

    > h1 {
      font-size: 3rem;
    }

    .form {
      width: 100%;
      margin-top: 3rem;
      border-radius: $border-radius;
      box-shadow: $box-shadow-light;
      padding: 1.5rem;

      .shortInputsContainer {
        display: flex;
        justify-content: space-between;

        > div {
          width: 48%;
        }
      }
    }

    .submitButton {
      margin-top: 2rem;
      width: 100%;
    }
  }
}

@media (max-width: 530px) {
  .root {
    .formContainer {
      width: 100%;
    }
  }
}
